<div class="contact-list">
  <div class="action-buttons">
    <button [routerLink]="['/new-contact']">Add New Contact</button>
    <button (click)="addRandomContacts()" [disabled]="isButtonDisabled">
      Add Random Records
    </button>
  </div>
  <br>
  <div class="upload">
    <span class="success" *ngIf="(succesUploadContact$ | async) as successMessage">
      {{ successMessage }}
    </span>
    <span class="error" *ngIf="(failedUploadContact$ | async) as errorMessage">
      {{ errorMessage }}
    </span>
  </div>
  <div class="custom-message" *ngIf="showDeleteMessage()">
    <h2>{{ deletedMessage }}</h2>
  </div>
  <div class="custom-message" *ngIf="showEditMessage()">
    <h2>{{ editedMessage }}</h2>
  </div>
  
  <ng-container *ngIf="contactList$ | async as contactList; else noContacts">
    <app-distinct-contact *ngFor="let contact of contactList" [contact]="contact"></app-distinct-contact>
  </ng-container>
  <ng-template #noContacts>
    <p class="nocontacts">No contacts added. Press the button 'Add Random Records' above</p>
  </ng-template>
</div>