<div class="contacts">
    <div class="individual-contact" *ngFor="let user of contacts">
        <div class="picture">
            <img src="{{user.thumbnail}}" alt="">
        </div>
        <div class="info">
            <h4 class="name">{{ user.title }}. {{ user.firstName }} {{ user.lastName }}</h4>
            <a href="mailto: {{user.email}}" class="email small-ellipsis">{{ user.email }}
                <img src="assets/email.png" alt="email-img">
            </a>
            <div class="phone">
                <a class="phone-img small-ellipsis" href="tel:{{user.phone}}"> {{ user.phone }}
                    <img src="assets/phone.png" alt="phone-img">
                </a>
            </div>
        </div>
        <div class="detail-page">
            <span class="arrow">
                <!-- <img src="assets/arrowblue.png" alt="phone-img"> -->
            </span>
        </div>
    </div>
</div>