<div class="contact" *ngIf="contact as contacts$">
    <div class="individual-contact">
        <div class="picture">
            <img [src]="displayImage(contact)" alt="">
        </div>
        <div class="info">
            <h4 class="name small-ellipsis">{{ contact.title }}. {{ contact.firstName }} {{ contact.lastName }}</h4>
            <div class="email common-info">
                <a href="mailto: {{contact.email}}" class="small-ellipsis">
                    {{ contact.email }}
                    <img src="assets/email.png" alt="email-img">
                </a>
            </div>
            <div class="phone">
                <a class="phone-img small-ellipsis" href="tel:{{contact.phone}}">
                    {{ contact.phone }}
                    <img src="assets/phone.png" alt="phone-img">
                </a>
            </div>
                <ng-content></ng-content>
        </div>
        <div class="detail-page">
            <a class="detail-button" [routerLink]="['/contact-details', contact.id]">
                <span class="arrow"></span>
            </a>
        </div>
    </div>
</div>