body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    .allcloud-app {
        width: 600px;
        .status-message {
            font-size: 18px;
            color: red;
            margin-bottom: 20px;
            text-align: center;
        }
    }
}