body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

main {
    .allcloud-app {
        width: 600px;
    }
}

.center-elements {
    display: flex;
    justify-content: center;
}